<div class="clear" style="height: 80px"></div>
<div class="diyBg" id="footer"
     style="background-color: #169fe6;
            /*position: fixed;*/
            bottom: 0px;
            /*width: 100%;*/
            /*border-top: 2px solid;*/
            border: 1px solid #138cca;
            margin-bottom: 0px;
            text-align: center;
            z-index: 999;
            color: #FFFFFF;
">
    Copyright &copy; {{date .T "Y"}} {{config "String" "title" "LeeChan'Blog"}}
    <span>
        <div>
            友情链接：
            <a href="http://www.jebook.cn" target="_blank" style="color: #FFFFFF">句子迷</a>
            <a href="http://www.jebook.cn/letter.html" target="_blank" style="color: #FFFFFF">给未来一封信</a>
            <a href="http://cms.jebook.cn/" target="_blank" style="color: #FFFFFF">企业建站</a>
            <a href="http://139.199.167.135:8080/" target="_blank" style="color: #FFFFFF">五子棋对战</a>
        </div>
    </span>
</div>
