<div id="header">
    <div class="header-bg">
        <div id="blogTitle">
            <a id="lnkBlogLogo" href="/">
                <img id="blogLogo" src="/static/images/logo.gif" alt="返回主页" />
            </a>

            <!--done-->
            <h1>
                <a id="Header1_HeaderTitle" class="headermaintitle" href="/">{{config "String" "title" "LeeChan'Blog"}}</a>
            </h1>
            <h2>
                {{config "String" "autograph" "如今的我，谈不上幸福，也谈不上不幸。"}}
            </h2>


        </div>
    </div><!--end: blogTitle 博客的标题和副标题 -->
    <div id="navigator" class="diyBg">

        <ul id="navList">
            <li>
                <a id="blog_nav_myhome" class="menu" href="/">
                    首页
                </a>
            </li>
            {{range $k ,$v := $.Menu}}
                <li>
                    <a id="blog_nav_contact" class="menu" href="/list.html?c={{$v.Id}}">
                        {{$v.Name}}
                    </a>
                </li>
            {{end}}
            <li>
                <a id="blog_nav_contact" class="menu" href="/message.html">
                    留言
                </a>
            </li>
            {{/*<li>
                <a id="blog_nav_contact" class="menu" href="javascript:;">
                    订阅</a>
            </li>*/}}
        </ul>
    </div><!--end: navigator 博客导航栏 -->
</div>
<!--end: header 头部 -->