<div id="sideBarMain">
    <div id="sidebar_news" class="newsItem"><!--done-->
        <h3 class="catListTitle diyBg">关于我</h3>
        <div id="blog-news">
            <div id="profile_block">
                昵称：
                <a title="职业第三者" href="javascript:;">
                    职业第三者
                </a>
                <br>
                简介：
                <a href="javascript:;" title="纯码农，擅长PHP，GO等语言">
                    纯码农，擅长PHP，GO等语言
                </a>
                <br>
                <div style="text-align: center;margin-top: 20px">
                    <a href="javascript:;">
                        <img width="80%" src="/static/images/weixin.jpg">
                    </a>
                </div>
                <br>
                <div id="p_b_follow"></div>
            </div>
        </div>

    </div>
    <div id="sidebar_categories">

        <div id="sidebar_postarchive" class="catListPostArchive sidebar-block">
            <h3 class="catListTitle diyBg">随笔档案</h3>
            <ul>
                {{range $k,$v := $.DateTime}}
                    <li>
                        <a title="{{StringReplace $k "-" "年"}}月" href="/list.html?date={{$k}}" rel="">
                            {{StringReplace $k "-" "年"}}月({{$v}})
                        </a>
                    </li>
                {{end}}
            </ul>


        </div>

    </div>
    <div id="sidebar_topviewedposts" class="sidebar-block">
        <div class="catListView">
            <h3 class="catListTitle diyBg">阅读排行榜</h3>
            <div id="TopViewPostsBlock">
                <ul style="word-break:break-all">
                    {{range $k,$v := $.ArticlesReadSort}}
                        <li>
                            <a title="{{$v.Title}}" href="/detail/{{$v.Id}}.html">
                                {{IndexForOne $k 1 1}}. {{$v.Title}}({{$v.Pv}})
                            </a>
                        </li>
                    {{end}}
                </ul>
            </div>
        </div>


    </div>
</div>